#box {
    display: inline-block;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
}
#box3{
    width: 100px;
    height: 50px;
    background-color: green;
    margin-top: 10px;
}

#div1 {
    margin-top: 200px;
    width: 100px;
    height: 100px;
    background-color: green;
}
#displayButton {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;

    .title {
        display: inline-block;
        width: 100px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        color: black;
    }

    &:hover {
        background-color: dodgerblue;
        transition: 0.3s;
        border-color: dodgerblue;
        .title{
            color: #fff;
            transition: 0.3s;
        }
    }
}

#hiddenContent {
    display: inline-block;

    p {
        width: 500px;
        text-align: justify;
    }
}
